/*ARROWS*/

.arrows-box {
  background: lightpink;
  height: 550px;
  width: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image:
    radial-gradient(
      circle at center,
      transparent 90px,
      black 90px,
      black 100px,
      transparent 100px
    );
}

.arrow-up.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 0;
  width: 10px;
  height: 100px;
  background-color: currentColor;
}

.arrow-up.icon:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 1px;
  width: 50px;
  height: 50px;
  border-top: solid 10px currentColor;
  border-right: solid 10px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow-down.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 0;
  width: 10px;
  height: 100px;
  background-color: currentColor;
}

.arrow-down.icon:before {
  content: '';
  position: absolute;
  left: -25px;
  top: 40px;
  width: 50px;
  height: 50px;
  border-top: solid 10px currentColor;
  border-right: solid 10px currentColor;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* animation */

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}
