* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.App {
  background-color: rgb(255, 187, 0);
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 20px;
}

div {
  margin: 200px auto;
  height: 50px;
  width: 350px;
  background: #237449;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

}
div {  
  background-image: 
    /* stripes */
    linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.6) 25px,
      rgba(0, 0, 0, 0.6) 30px,
      transparent 30px,
    ),
    /* wrapper */
    linear-gradient(to right,
      transparent 18px,
      rgba(41,237,133,.6) 18px,
      rgba(41,237,133,.6) 332px,
      transparent 332px
    ),

    /* crayon body shading */
    linear-gradient(to bottom,
      transparent 62%,
      rgba(0, 0, 0, 0.3) 100%
    ); 
}  

